<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="connected" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
		<div class="ion-text-center" *ngIf="connected">
			<div id=addFriend>
				<h3> Ajouter un ami </h3>
				<ion-item lines="none">
				<ion-label floating>Son ID</ion-label>
				<ion-input [(ngModel)]="friendId"></ion-input>
				</ion-item><br/>
				<ion-button (click)="addFriend()">
					Ajouter
				</ion-button>
			</div>
			<div id=friendList>
				<h3> Mes amis </h3>
				<!-- <div *ngFor="let index of listSize"> -->
					<li *ngFor="let friend of friendList">{{ friend.id }}</li>
				<!-- </div> -->
			</div>
		</div>

		<div class="ion-text-center" *ngIf="!connected">
			Vous devez etre connecté pour ajouter des amis
		</div>
</ion-content>
