<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
		<div text-center *ngIf="connected">
			<h3> Ajouter un ami </h3>
			<ion-item lines="none">
				<ion-label floating>Son ID</ion-label>
				<ion-input [(ngModel)]="friendId"></ion-input>
			</ion-item><br/>
			<ion-button (click)="addFriend()">
				Ajouter
			</ion-button>
		</div>

		<div text-center *ngIf="!connected">
			Vous devez etre connecté pour ajouter des amis
		</div>
</ion-content>
