<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="connected" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<div class="ion-text-center" *ngIf="!connected">
		<div *ngIf="!login">
			<!-- <img class="logo-connect" src="assets/icon/logo.png"/> -->
			<div>
				<ion-button (click)="changeFormGoal(true)" color="light">Se connecter</ion-button>
				<ion-button (click)="changeFormGoal(false)" color="medium">S'inscrire</ion-button>
			</div>
			<hr>
			<h3>Créez votre compte!</h3>
			<ion-item lines="none">
				<ion-label floating>Nom</ion-label>
				<ion-input [(ngModel)]="name"></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-label floating>Email</ion-label>
				<ion-input [(ngModel)]="email"></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-label floating>Age</ion-label>
				<ion-input [(ngModel)]="age" type="number"></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-label floating>Mot de passe</ion-label>
				<ion-input [(ngModel)]="password" type="password"></ion-input>
			</ion-item><br/>
			<ion-button (click)="addUserToFirebase()">
				S'inscrire
			</ion-button>
		</div>
		<div *ngIf="login">
			<!-- <img class="logo-connect" src="assets/icon/logo.png"/> -->
			<div>
				<ion-button (click)="changeFormGoal(true)" color="medium">Se connecter</ion-button>
				<ion-button (click)="changeFormGoal(false)" color="light">S'inscrire</ion-button>
			</div>
			<hr>
			<h3>Connectez vous!</h3>
			<ion-item lines="none">
				<ion-label floating>Email</ion-label>
				<ion-input [(ngModel)]="email"></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-label floating>Mot de passe</ion-label>
				<ion-input [(ngModel)]="password" type="password"></ion-input>
			</ion-item><br/>
			<ion-button (click)="checkLogin()">
				Se connecter
			</ion-button>
		</div>
	</div>

	<div class="ion-text-center" *ngIf="connected">

		<h3>Bienvenue {{ user[0].name }} !</h3>

		<div>
			id : {{ user[0].key }}<br/>
			nom : {{ user[0].name }}<br/>
			age : {{ user[0].age }}<br/>
			email : {{ user[0].email }}<br/>
			password : {{ user[0].password }}<br/>
			level : {{ user[0].level}}<br/>
			<ion-progress-bar value="0.25" buffer="0.5">{{ user[0].xp }} / {{ user[0].level * 100 }}</ion-progress-bar>
			<br/>
		</div>

		<br/>
		<ion-button (click)="logOut()">
			Se deconnecter
		</ion-button>
	</div>

</ion-content>
